#contact{
    width: 50%;
    margin: 5rem 0;
}

a{
    position: relative;
    text-decoration: none;
}
#contact a:hover{
    text-decoration: underline;
}
#contact img{
    width: 15px;
    height: auto;
}
#contact ul {
    display: flex;
    gap: 5%;
    width: 100%;
    margin:2rem 0 2rem 0 ; 
}
#contact li {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    border: solid 1px black;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 2px black; 
    transition: all 500ms; 
}
#contact li:hover{
    translate: 0 -2px;
    box-shadow: 0 0 5px black; 
}
#contact h2{
    font-size: 1.6rem;
    margin-bottom: 5px;
}
#contact hr{
    height: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}
#contact p {
    font-size: 1.1rem;
    margin-bottom: 5px;
}
@media (max-width: 1024px) {
    #contact{
        width: 70%;
    }
}
@media (max-width: 600px) {
    #contact{
        width: 80%;
    }
    #contact ul {
        flex-direction: column;
        gap: 1em;
        width: 100%;
        margin:1rem 0 1rem 0 ;     
    }
    #contact li {
        font-size: 1rem;
        width: fit-content;
        padding: 7px 15px;
    }
    #contact h2{
        font-size: 1.4rem;
    }
    #contact p {
        font-size: 0.8rem;
    }
    #contact li {
        font-size: 0.8rem;
    }
    #contact img{
        width: 12px;

    }
}