#contact{
    width: 50%;
    font-size: 1.2em;
}
ul{
    margin-left: 50px;
}
a{
    position: relative;
    text-decoration: none;
    /* transition: text-decoration 5000ms ease-in ; */
}
#contact a:hover{
    text-decoration: underline;
}
#contact img{
    width: 15px;
    height: auto;
}
#contact li {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}