footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    height: 5vh;
    background-color:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}