header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    height: 5vh;
    padding: 5vh;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    max-width: 100vw;
    width: 100%;
    
}
.logo{
    display: inline;
    flex: 1;
    margin-left:7rem ;
}
.logo img{
    width: 120px;
    height: auto;
}
.navigation{
    display: flex;
    gap: 2em;
    font-weight: bolder;
    font-size: 1.2rem;
    max-width: 25%;
}
.link{
    position: relative;
}
.link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -2px;
    background-color: black; 
    transition: width 500ms ease;
    border-radius: 10px;
}
.link:hover::after {
    width: 100%;
}


.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
.menu-icon div {
    width: 25px;
    height: 3px;
    background: rgb(0, 0, 0);
    border-radius: 2px;
}

@media (max-width: 1050px) {
    
    .logo{
        margin-left: 4rem;
    }
    header{
        padding-left: 3vh;
    }
  }

@media (max-width: 768px) {
    .navigation {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background: rgba(255, 255, 255, 0.95);
      flex-direction: column;
      width: 100%;
      text-align: center;
      padding: 1rem 0;
    }
  
    .navigation.show {
      display: flex;
    }
  
    .menu-icon {
      display: flex;
      margin-right: 1em;
    }
    .logo{
        flex: 1;
        margin-top: 1em;
        margin-left: 0;
    }
  
    .logo img {
      width: 100px;
      margin-left:0;
    }
  }

@media (max-width: 400px) {
    header {
      padding: 0.7rem 0;
      gap: 1rem;
    }
  
    .logo img {
      width: 80px;
    }

    .navigation {
      font-size: 1rem;
      gap: 1rem;
    }
}