header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    height: 5vh;
    padding: 5vh;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}
.logo{
    display: inline-block;
    margin-left: 4em;
}
.logo img{
    width: 150px;
    height: auto;
    border-radius: 20px;
}
.navigation{
    display: flex;
    gap: 2em;
    font-weight: bolder;
    font-size: 1.2rem;
}
.link{
    position: relative;
}
.link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -2px;
    background-color: black; /* your accent color */
    transition: width 500ms ease;
    border-radius: 10px;
}
.link:hover::after {
    width: 100%;
}
