#home{
    width: 50%;
    display: flex;
    font-size: 1.2em;
    flex-direction: column;
    min-height:90vh;
    gap: 2em;
    padding-top: 2em;
}
.homeContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}
.greeting {
    opacity: 0;
    transform: translateX(-100px);
    animation: slideInLeft 2s ease-out forwards;
    font-family:orbitron,sans-serif ;

  }
  .dagi{
    font-size: 3em;
    font-weight: bolder;
  }
  .web{
    font-size: 1.75em;
    color: rgb(81, 81, 81);
    display: inline-block;
    margin: .2em 0 .5em 0;
    font-weight: 500;
  }

  .always {
    font-weight: bold;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .cursor {
    display: inline-block;
    margin-left: 2px;
    animation: blink 0.7s infinite;
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  .hey{
    font-weight: bold;
  }
  
  @keyframes slideInLeft {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .shortDescription{
    font-size: 1.1em;
  }
.downlaodCv{
    padding: 15px 20px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid black;
    outline: none;
    transition: all 700ms ease;
    width: fit-content;
    height: auto;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
}
.downlaodCv:hover{
    scale: 1.1;
    background-color: black;
    color:white;
}
@media (max-width: 1024px) {
  #home{
    width: 70%;
  }
}
@media (max-width: 600px) {
  #home{
    width: 80%;
    font-size: 1em;
  }
  .dagi{
    font-size: 2em;
  }
  .downlaodCv{
    padding: 15px 20px;
    font-size: 0.9rem;
  }
  .shortDescription{
    font-size: 0.9em;
  }
  .web{
    font-size: 1.3em;
  }
}

  