.projectCard{
    height: 17rem;
    width: 100%;
    border: solid rgb(150, 150, 150) 1px;
    display: flex;
    gap: 20px;
    padding: 10px;
    margin: 20px 0 50px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black ;
    transition: all 400ms ease;
    font-size: 1.1rem;
}
.projectCard:hover{
    border: solid black 1.5px;
    box-shadow: 0px 0px 10px black;
    translate: 0 -2px;
}
.projectImage{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: all 300ms ease;
}
.projectImg{
    height: 100%;
    width: 100%;
}
.projectImage:hover{
    scale: 1.02;
}

.projectSide{
    border: solid rgb(150, 150, 150) 1px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 500ms ease;
    width: 135%;
}
.projectSide:hover{
    border: solid black 2px;
}
.projectLinks{
    display: flex;
    gap: 1rem;
}
.projectTitle{
    font-size: 1.3rem;
    margin:.5rem 0 ;
}
.roundLink{
    border: solid rgb(150, 150, 150) 1px;
    padding: 5px 10px;
    border-radius: 50px;
    transition: all 300ms ease;
    font-size: 1.1rem;
    width: fit-content;
    height: auto;
}
.roundLink:hover{
    border: solid rgb(0, 0, 0) 1.5px;
    scale: 1.05;
}
.externalLinkImage{
    width: 20px;
    height: auto;
}
.liveLink{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
}
.sCode{
    font-weight: 400;
}
@media (max-width:1250px){
    .projectCard{
        height: 14rem;
    }
}
@media (max-width: 1024px) {
    .projectCard {
      height: auto;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }
  
    .projectSide {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  
    .projectImg {
      height: auto;
      max-height: 250px;
      align-self: flex-start;
    }
    .projectTitle {
      text-align: center;
    }
  }
  

  @media (max-width: 600px) {
    .projectCard {
      font-size: 0.8rem;
      gap: 1rem;
    }
    .projectTitle{
        font-size: 1rem;
    }
    .externalLinkImage{
        width: 15px;
    }
    .roundLink {
      font-size: .8rem;
      padding: 5px 8px;
    }
    .projectLinks{
        display: flex;
        flex-wrap: wrap;
        gap: .7rem;
    }
    .liveLink{
        margin-left: .2rem;
    }
    .sCode{
        font-weight: 400;
        font-size: 0.7rem;
    }
  }

